
@media screen and (min-width: 769px) {
  .popdown {
      width: 100px; /* Adjust as needed */
      height: 100px; /* Adjust as needed */
  }
  .myimage{
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    right:30%;
  }
}


@media screen and (max-width : 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        width:90%;
        margin-left: 5%;
      }
      
      .item {
        width:25%;
        padding: 5%;
        border: solid black 1%;
        background-color:orchid ;
      }
      .body {
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
      .header-position {
        display: grid;
        grid-template-columns: 20% 60% 60%;
      }
      .header-style {
        border: 1px solid rgba(0, 0, 0, 0.8);
        font-size: 90%;
        text-align: center;
        width: auto;
        height: auto;
        margin: auto auto;
        padding: 15px 15px;
      }
      #menu {
        padding: 20px;
        display:block;
        z-index:2;
      }
      
      #menu li {
        float: left;
        background: rgb(24, 158, 158);
        list-style-type: none;
        border-radius: 25px;
        width: 150px;
        height: 35px;
        margin-left: 100px;
      }
      
      #menu li a {
        display: block;
        padding: 8px;
        border-radius: 25px;
      }
      
      #menu li a:hover {
        background: #ffffff;
      }
      
      #menu li a:active {
        background: white;
      }
      
    .myimage {
        display: none;
        height: 100px;
        width: 100px;
    }
    .popdown{
      height: 100px;
      width: 100px;
    }
    

}

  

  @media screen and (max-width: 600px) {
    .container {
      flex-wrap: wrap;
      width: 90%;
      margin-left: 10%;
    }
    .item {
      width: 35%;
      border-color: black;
      background-color: green;
    }

    #menu {
        display:block;
        z-index:2;
    }

    .myimage {
        display: none;
        size-adjust: 2;
    }
    .popdown{
      height: 100px;
      width: 100px;
    }
  }
  
  
 
  /*@media screen and (max-width: 600px) {
    .container {
      display: inline;
    }
    .item {
      width: 90%;
      background-color: pink;
    }


    .myimage {
        position: relative;
        border-radius: 5%;
        width: 35%;
        margin-left: 3%;
        display: block;
      }
    .myimage:hover {
        background-color: red;
    }
    .myimage:active {
        background-color: green;
    }

    #menu {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        top:17%;
    }
    
    #menu a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
  }*/